doctype html
html
    head
        title niuSlide
        meta(charset='UTF-8')
        include ./css/css.pug
    body
        //-.niu
        //- .p_box ￥88.00
        //- .p_box.p_cancel ￥88.00
        //- .p_box.p_fire 92
        //- .p_box.p_fire.p_cancel 92
        include ./js/js.pug
        
