html,
body,
div,
ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.clearfix::after,
.clearfix::before {
  content: ' ';
  display: table;
}
.clearfix::after {
  clear: both;
}
.ns_box {
  position: relative;
  width: 100%;
  height: 100%;
}
.ns_stage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: yellow;
  overflow: hidden;
}
.ns_item {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-color: pink;
}
.ns_control {
  position: relative;
  width: 300px;
  height: 100%;
  margin: 0 auto;
}
.ns_control > button {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 20px;
  height: 50px;
  margin-top: -25px;
  background-color: blue;
  border: none;
  padding: 0px;
  cursor: pointer;
}
.ns_neg {
  left: 0;
}
.ns_pos {
  right: 0;
}
.niu {
  width: 400px;
  height: 200px;
  background-color: pink;
  margin-top: 200px;
  margin-left: 200px;
}
.p_box {
  float: left;
  height: 30px;
  line-height: 30px;
  padding-right: 2px;
  background-color: pink;
  color: #000;
  font-size: 20px;
}
.p_box + .p_box {
  margin-top: 2px;
}
.p_box.p_fire {
  text-indent: 24px;
  background-image: url('http://static.iyingdi.cn/yingdiWeb/images/shop/shop_fire.png');
  background-repeat: no-repeat;
  background-size: auto 20px;
  background-position: 3px 5px;
}
.p_box.p_cancel::after {
  content: ' ';
  display: block;
  position: relative;
  left: 0px;
  top: -50%;
  width: 100%;
  height: 1px;
  background-color: #9B9B9B;
}
